# core packages for the app 
numpy==2.2.1
pandas==2.2.3
streamlit==1.40.2
streamlit_calendar==1.2.1
streamlit-aggrid
psycopg2-binary==2.9.9
sqlalchemy==2.0.30
streamlit-google-auth==1.1.8
paramiko==3.4.1
python-dotenv==0.21.0
ics==0.7.2
pyyaml

# on hold / not using currently
#streamlit-cookies-manager
#git+https://github.com/dsherbini/streamlit-cookies-manager.git # using forked version of streamlit-cookies-manager